 <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

       
          <div class="btn-group mx-1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/users/edit">Profile</a></li>
              <li><a class="dropdown-item" href="/users/sign_out">Sign Out</a></li>
            </ul>
          </div>