<div class="container mt-3">
<%= render 'home/breadcrumb'%>
    <hr>
    <div class="row  justify-content-around m-2 mt-5 mb-5 ">
        <div class="col-md-6">
          <img src="/contact.svg" class="img-fluid" height="400"  width="600" alt="contact-us" >
        </div>
        <div class="col-md-6">
            <%= render 'home/contact'%>
        </div>
      </div>
</div>